.center-box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50vh;
                    border: 2px solid #ccc;
                    padding: 20px;
                  }
                  .form {
                    text-align: left;
                  }

                  .form label {
                    display: inline-block;
                    width: 200px;
                    margin-bottom: 10px;
                  }

                  .form input[type="text"] {
                    width: 250px;
                  }
